
@font-face {
  font-family: 'Pixellari';
  src: url('pixellari.eot?#iefix') format('embedded-opentype'),  url('pixellari.woff') format('woff'), url('pixellari.ttf')  format('truetype'), url('pixellari.svg#Pixellari') format('svg');
  font-weight: normal;
  font-style: normal;
}
