
@font-face {
  font-family: 'Pixograd';
  src: url('pixograd.eot?#iefix') format('embedded-opentype'),  url('pixograd.woff') format('woff'), url('pixograd.ttf')  format('truetype'), url('pixograd.svg#Pixograd') format('svg');
  font-weight: normal;
  font-style: normal;
}
